node_modules
.tmp
bower_components
.settings
.metadata
*.war
RemoteSystemsTempFiles/
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db
.Spotlight-V100
.Trashes
classes/
._*
*.jar
release-local.sh
npm-debug.log
.idea/
target/
*.iml

