body {
	font-family: Helvetica, arial, freesans, clean, sans-serif;	
}

input[type="file"] {	
	width: 7em;
	width: 6.2em \0/IE9;
	height: 1.5em;
	margin: 5px;
}

input[multiple] {
	width: 7.5em;
	width: 6.2em \0/IE9;
}

doesnotexist:-o-prefocus, input[type="file"] {
  width: 5.5em;
}

doesnotexist:-o-prefocus, input[multiple] {
	width: 5em;
}

@-moz-document url-prefix() {
	input[type="file"] {	
		width: 5.7em;
	}
	
	input[multiple] {
		width: 5.7em;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    ::i-block-chrome,input[multiple] {
		width: 6.7em;
    }
}

html[data-useragent*='MSIE 10.0'] input[type="file"] {
	width: 7.5em;
}

.sel-file {
	padding: 1px 5px;
	font-size: smaller;
	color: grey;
	
}

.response {
	padding-top: 30px;
}

.response li {
	color: blue;
	font-size: smaller;
	padding-bottom: 5px; 
}

.progress {
	display: inline-block;
	width: 100px;	
	border: 3px groove #CCC;
}

.progress div {
	font-size: smaller;
	background: orange;
	width: 0;
}

.drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 200px;
	height: 65px; 
	text-align: center;
	padding-top: 35px; 
}

.drop-box.dragover {
	border: 5px dashed blue;
}

/* for IE*/
.js-fileapi-wrapper {
	display: inline-block;
	vertical-align: middle;	
}