<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link type="text/css" rel="stylesheet" href="common.css">
<title>Angular file upload sample</title>
<script src="js/angular-file-upload-shim.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
<!-- <script src="http://cdn.jsdelivr.net/angular.file-upload/1.0.0/angular-file-upload.min.js"></script> -->
<script src="js/angular-file-upload.js"></script>
</head>

<body>
	<h1>Angular file upload Demo</h1>
	<h3>
		Visit <a href="https://github.com/danialfarid/angular-file-upload">angular-file-upload</a> on github
	</h3>

	<div ng-app="fileUpload" ng-controller="MyCtrl">
		Model object to be sent to the server with the file: <input type="text" ng-model="myModel"> <br />
		choose a single file: <input type="file" ng-file-select="onFileSelect($files)">
		<br/>
		or multiple files: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="file" ng-file-select="onFileSelect($files)" multiple>
		<br/>
		<br/>
		<div ng-show="dropSupported" class="drop-box" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">or drop files here</div>
		<div ng-show="!dropSupported">HTML5 Drop File is not supported on this browser</div>
		<br/>
		Progress:
		<br/>
		<div ng-show="selectedFiles != null">
			<div class="sel-file" ng-repeat="f in selectedFiles">
				<span class="progress">						
					<div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
				</span>
				{{f.name}} - size: {{f.size}}B - type: {{f.type}}
			</div>
		</div>
		<div class="response" ng-show="uploadResult.length > 0">
			Server Response:
			<ul>
				<li ng-repeat="result in uploadResult">
					<ul>
						<li ng-repeat="item in result">
							<div data-ng-show="item.name">file name: {{item.name}}</div>
							<div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
							<div data-ng-show="item.size">size on the serve: {{item.size}}</div>
							<div data-ng-show="item.value">value: {{item.value}}</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<script type="text/javascript">
		angular.module('fileUpload', [ 'angularFileUpload' ]);

		var MyCtrl = [ '$scope', '$http', '$timeout', '$upload', function($scope, $http, $timeout, $upload) {

			$scope.selectedFiles = [];
			$scope.progress = [];
			
			$scope.onFileSelect = function($files) {
				$scope.uploadResult = [];
				$scope.selectedFiles = $files;
				for ( var i = 0; i < $files.length; i++) {
					var $file = $files[i];
					$scope.progress[i] = 0;
					(function() {
						var index = i; 
						$upload.upload({
							url : 'upload',
							headers: {'myHeaderKey': 'myHeaderVal'},
							data : {
								myModel : $scope.myModel
							},
							file : $file,
							fileFormDataName: 'myFile',
							progress: function(evt) {
								$scope.progress[index] = parseInt(100.0 * evt.loaded / evt.total);
								if (!$scope.$$phase) {
									$scope.$apply();
								}
							}
						}).success(function(data, status, headers, config) {
							$scope.uploadResult.push(data.result);
							// to fix IE not updating the dom
							if (!$scope.$$phase) {
								$scope.$apply();
							}
						});
					})();
				}
			}
		} ];
	</script>
</body>
</html>
