<div>Upload multiple images</div>
<button ngfClickForward>
<ngf-select ngfText="Select Files"
            [(ngModel)]="files" name="file" #file="ngModel"
            ngfMultiple="true"
            ngfAccept="image/*" ngfPattern="image/jpeg"
            ngfMinSize="10KB" ngfMaxSize="20MB"
            ngfMinHeigh="10KB" ngfMaxHeight="20MB"
            ngfMinWidth="10KB" ngfMaxWidth="20MB"
            ngfMinRatio=".3" ngfMaxRatio=".7"
            ngfRatio="1x1,2:3,3:5,1:2,4:5"></ngf-select>
</button>
<div ngfQueue="true"></div>
<!--<ul [ngfQueue]="files" [(ngModel)]="queueFiles">-->
<!--<li *ngFor="let file of queueFiles">-->
<!--{{file.name}}-->
<!--</li>-->
<!--</ul>-->
<button (click)="upload(files)">Submit</button>
