<form #myForm="ngForm">
  <h4>Upload on form submit</h4>
  Username:
  <label>
    <input type="text" [(ngModel)]="username" #userName="ngModel" name="userName" size="39" required>
  </label>
  {{userName.prestine}}
  <i [hidden]="userName.pristine || !userName.errors?.required">required</i><br/>
  <br/>
  Profile Picture:
  <label>
    <input type="file" name="file" #file="ngModel"
           ngfSelect [(ngModel)]="picFile"
           accept="image/*" ngfPattern="!.gif"
           ngfMinSize="100KB" ngfMaxSize="2MB" required>
  </label>
  <i [hidden]="file.pristine || !file.errors?.required">required</i>
  <i [hidden]="!file.errors?.pattern">gif files are not allowed</i>
  <i [hidden]="!file.errors?.maxSize">max file size 2MB</i>
  <i [hidden]="!file.errors?.minSize">min file size 100KB</i>
  <br/>
  <br/>
  Audio file:
  <button ngfClickForward>
    <ngf-select name="audio" #audio="ngModel"
                [(ngModel)]="audioFile"
                ngfAccept="audio/*" ngfPattern="audio/"
                ngfMinDuration="1s" ngfMaxDuration="10s"
                ngfMaxSize="2MB" required
                ngfText="Select Audio"></ngf-select>
  </button>
  {{audioFile?.name}}
  <i [hidden]="audio.pristine || !audio.errors?.required">required</i>
  <i [hidden]="!audio.errors?.pattern">invalid file type expected {{audioFile?.errors?.pattern?.expected}} but was
    {{audioFile?.errors?.pattern?.actual}}</i>
  <i [hidden]="!audio.errors?.maxSize">max audio duration expected {{audioFile?.errors?.maxDuration?.expected}} but was
    {{audioFile?.errors?.maxDuration?.actual}}</i>
  <i [hidden]="!audio.errors?.maxSize">min audio duration expected {{audioFile?.errors?.minDuration?.expected}} but was
    {{audioFile?.errors?.minDuration?.actual}}</i>
  <i [hidden]="!audio.errors?.maxSize">max audio file size expected {{audioFile?.errors?.maxSize?.expected}} but was
    {{audioFile?.errors?.maxSize?.actual}}</i>
  <br/>
  <br/>
  Video file:
  <ngf-select ngfDrop name="video" #video="ngModel" class="drop-box"
              [(ngModel)]="videoFile"
              ngfAccept="video/*" ngfPattern="video/*"
              ngfMinDuration="3s" ngfMaxDuration="1m"
              ngfMaxSize="200MB"
              [ngClass]="{'dragover': dragCount > 0, 'dragover-err': dragCount == 0}"
              (ngfDragOver)="dragCount = $event"
              ngfText="Select or Drop Video files here" required>

  </ngf-select>
  {{videoFile?.name}}
  <i [hidden]="video.pristine || !video.errors?.required">required</i>
  <i [hidden]="!video.errors?.pattern">invalid file type expected {{videoFile?.errors?.pattern?.expected}} but was
    {{videoFile?.errors?.pattern?.actual}}</i>
  <i [hidden]="!video.errors?.maxSize">max video duration expected {{videoFile?.errors?.maxDuration?.expected}} but was
    {{videoFile?.errors?.maxDuration?.actual}}</i>
  <i [hidden]="!video.errors?.maxSize">min video duration expected {{videoFile?.errors?.minDuration?.expected}} but was
    {{videoFile?.errors?.minDuration?.actual}}</i>
  <i [hidden]="!video.errors?.maxSize">max video file size expected {{videoFile?.errors?.maxSize?.expected}} but was
    {{videoFile?.errors?.maxSize?.actual}}</i>
  <br/>

  <button [disabled]="!myForm.valid" (click)="uploadPic(picFile)">Submit</button>
  <img [hidden]="!picFile" [src]="picFile" class="thumb">
  <span class="progress" *ngIf="picFile?.progress > 0">
                  <div style="width:{{picFile?.progress}}%">{{picFile?.progress}}%</div>
    </span>
  <span [hidden]="!picFile?.result">Upload Successful</span>
</form>
