<h4>Upload multiple images with validations</h4>
<ngf-select [(ngModel)]="imageFiles" class="drop-box" name="images" #images="ngModel"
            ngfMultiple="true"
            ngfAccept="image/*" ngfPattern="!gif,!svg,!tiff"
            ngfMinSize="10KB" ngfMaxSize="20MB"
            ngfMinHeigh="1000" ngfMaxHeight="1400"
            ngfMinWidth="1000" ngfMaxWidth="10000"
            ngfMinRatio=".3" ngfMaxRatio=".7"
            ngfRatio="1:1,2:3,3:5,1:2,4:5"
            (ngfDragOver)="dragCount = $event"
            ngfResetOnClick="true"
            [ngClass]="{'dragover': dragCount > 0, 'dragover-err': dragCount == 0}"
            ngfKeep="distinct"
            ngfText="Select Or Drop Images"></ngf-select>
<i [hidden]="!isResizing">Processing...</i>
<i [hidden]="!images.pending">validating...</i>
<i *ngFor="let key of keys(images?.errors)">
  invalid {{key}}
</i>
<ul>
  <li *ngFor="let image of imageFiles">
    <img [ngfThumb]="image" src="{{'favicon.ico'}}" class="thumb">
    {{image.name}}
    <demo-list-errors [errors]="image?.errors"></demo-list-errors>
    <i [hidden]="!image?.resizeError">image?.resizeError</i>
    <i [hidden]="!image?.orientationError">image?.orientationError</i>
  </li>
</ul>
<button (click)="upload(imageFiles)">Submit</button>

<demo-progress [progress]="progress"></demo-progress>
<demo-response [result]="result" [error]="err" class="response"></demo-response>

