<h4>Upload multiple images with resize and fix orientation</h4>
<ngf-select [(ngModel)]="imageFiles" class="drop-box" name="images" #images="ngModel"
            ngfMultiple="true"
            ngfAccept="image/*" ngfPattern="!gif,!svg,!tiff"
            [ngfResize]="{width:1000, height:1000, centerCrop: true}"
            [ngfResize]="{ratio:'1:2', centerCrop: true}"
            [ngfResize]="{width:1000, height:1000, quality:.5, restoreExit:true}"
            [ngfFixOrientation]="true"
            (ngfDragOver)="dragCount = $event"
            [ngClass]="{'dragover': dragCount > 0, 'dragover-err': dragCount == 0}"
            ngfText="Select Or Drop Images"></ngf-select>
<i [hidden]="!isResizing">Processing...</i>
<i [hidden]="!images.pending">validating...</i>
<i *ngFor="let entry of images?.errors | mapToIterable">
  <span *ngIf="entry.value == true">invalid {{entry.key}}</span>
</i>
<ul>
  <li *ngFor="let image of imageFiles">
    <img [ngfThumb]="image" src="{{'favicon.ico'}}" class="thumb">
    {{image.name}}
    <demo-list-errors [errors]="image?.errors"></demo-list-errors>
    <i [hidden]="!image?.resizeError">image?.resizeError</i>
    <i [hidden]="!image?.orientationError">image?.orientationError</i>
  </li>
</ul>
<button (click)="upload(imageFiles)">Submit</button>
<demo-progress [progress]="progress"></demo-progress>
<demo-response [result]="result" [error]="err" class="response"></demo-response>
