<fieldset>
  <legend>Play with options</legend>
  <div class="up-buttons">
    <div ngfSelect ngfDrop [(ngModel)]="files"
         [multiple]="multiple" [ngfPattern]="pattern" accept="acceptSelect"
         [disabled]="disabled" [capture]="capture"
         [ngfDragOverClass]="dragOverClassObj"
         [ngfValidate]="validateObj"
         [ngfResize]="resizeObj"
         [ngfResizeIf]="resizeIfFn($file, $width, $height)"
         [ngfDimensions]="dimensionsFn($file, $width, $height)"
         [ngfDuration]="durationFn($file, $duration)"
         [ngfKeep]="keepDistinct ? 'distinct' : keep"
         [ngfFixOrientation]="orientation"
         [ngfMaxFiles]="maxFiles"
         [ngfIgnoreInvalid]="ignoreInvalid"
         [ngfRunAllValidations]="runAllValidations"
         [ngfAllowDir]="allowDir"
         (ngfDropAvailable)="dropAvailable=$event"
         class="drop-box">Select File
        <span [hidden]="!dropAvailable"> or Drop File</span>
    </div>
  </div>
  <div class="custom">
    <label>accept (for select browser dependent): <input type="text" ng-model="acceptSelect"></label><br/>
    <label>capture (for mobile): <input type="text" ng-model="capture"></label><br/>
    <label>ngfPattern (validate file model): <input type="text" ng-model="pattern"></label><br/>
    <label>ngf-resize: <input type="text" size="43" ng-model="resize"></label><br/>
    <label>ngf-resize-if: <input type="text" size="43" ng-model="resizeIf"></label><br/>
    <label>ngf-dimensions: <input type="text" size="43" ng-model="dimensions"></label><br/>
    <label>ngf-duration: <input type="text" size="43" ng-model="duration"></label><br/>
    <label>ngf-max-files: <input type="text" size="43" ng-model="maxFiles"></label><br/>
    <label>ngf-ignore-invalid: <input type="text" size="43" ng-model="ignoreInvalid"></label><br/>
    <label><input type="checkbox" ng-model="multiple">ngf-multiple (allow multiple files)</label>
    <label><input type="checkbox" ng-model="disabled">ng-disabled</label><br/>
    <label><input type="checkbox" ng-model="allowDir">ngf-allow-dir (allow directory drop Chrome
      only)</label><br/>
    <label><input type="checkbox" ng-model="keep">ngf-keep (keep the previous model values in
      ng-model)</label><br/>
    <label><input type="checkbox" ng-model="keepDistinct">ngf-keep="distinct" (do not allow
      duplicates)</label><br/>
    <label><input type="checkbox" ng-model="orientation">ngf-fix-orientation (for exif jpeg files)</label><br/>
    <label><input type="checkbox" ng-model="runAllValidations">ngf-run-all-validations</label><br/>
    <label>Upload resumable chunk size: <input type="text" ng-model="chunkSize"></label><br/>
    <label><input type="checkbox" ng-model="clickDisabled">ngf-keep="distinct" (do not allow
  </div>

  <div class="preview">
    <div>Preview image/audio/video:</div>
    <img ngf-src="!files[0].$error && files[0]">
    <audio controls ngf-src="!files[0].$error && files[0]"></audio>
    <video controls ngf-src="!files[0].$error && files[0]"></video>
  </div>
</fieldset>

<!--<ul style="clear:both" class="response">-->
<!--<li class="sel-file" ng-repeat="f in files">-->
<!--<div>-->
<!--<img ngf-thumbnail="!f.$error && f" class="thumb">-->
<!--<span class="progress" ng-show="f.progress >= 0">-->
<!--<div style="width:{{f.progress}}%">{{f.progress}}%</div>-->
<!--</span>-->
<!--<button class="button" ng-click="f.upload.abort();f.upload.aborted=true"-->
<!--ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">-->
<!--Abort<span ng-show="isResumeSupported">/Pause</span>-->
<!--</button>-->
<!--<button class="button" ng-click="upload(f, true);f.upload.aborted=false"-->
<!--ng-show="isResumeSupported && f.upload != null && f.upload.aborted">Resume-->
<!--</button>-->
<!--<button class="button" ng-click="restart(f);f.upload.aborted=false"-->
<!--ng-show="isResumeSupported && f.upload != null && (f.progress == 100 || f.upload.aborted)">Restart-->
<!--</button>-->
<!--{{f.name}} - size: {{f.size}}B - type: {{f.type}}-->
<!--<a ng-show="f.result" href="javascript:void(0)" ng-click="f.showDetail = !f.showDetail">details</a>-->

<!--<div ng-show="f.showDetail">-->
<!--<br/>-->

<!--<div data-ng-show="f.result.result == null">{{f.result}}</div>-->
<!--<ul>-->
<!--<li ng-repeat="item in f.result.result">-->
<!--<div data-ng-show="item.name">file name: {{item.name}}</div>-->
<!--<div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>-->
<!--<div data-ng-show="item.size">size on the serve: {{item.size}}</div>-->
<!--<div data-ng-show="item.value">value: {{item.value}}</div>-->
<!--</li>-->
<!--</ul>-->
<!--<div data-ng-show="f.result.requestHeaders" class="reqh">request headers: {{f.result.requestHeaders}}</div>-->
<!--</div>-->
<!--</div>-->
<!--</li>-->
<!--<li class="sel-file" ng-repeat="f in invalidFiles">-->
<!--<div>Invalid File: {{f.$errorMessages}} {{f.$errorParam}}, {{f.name}} - size: {{f.size}}B - type:-->
<!--{{f.type}}-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
