<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>file_upload</servlet-name>
		<servlet-class>com.df.angularfileupload.FileUpload</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>file_upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value />
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>cors_filter</filter-name>
		<filter-class>com.df.angularfileupload.CORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>cors_filter</filter-name>
		<url-pattern>*</url-pattern>
	</filter-mapping>
</web-app>