<div ng-app="fileUpload" ng-controller="MyCtrl">Username
  <form name="myForm">
    <fieldset>
      <legend>Upload on form submit</legend>
      Username:
      <input type="text" name="userName" ng-model="username" size="39" required>
      <i ng-show="myForm.userName.$error.required">*required</i>
      <br>Profile Picture:
      <input type="file" ngf-select="" ng-model="picFile" name="file" accept="image/*" ngf-max-size="1M" required>
      <i ng-show="myForm.file.$error.required">*required</i>
      <i ng-show="myForm.file.$error.maxSize">File too large: max {{picFile.$errorParam}}</i>
      <img ng-show="picFile != null" ngf-src="picFile" class="thumb">
      <br>
      <button ng-disabled="!myForm.$valid" ng-click="uploadPic(picFile)">Submit</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
    </fieldset>
    <br>
  </form>
</div>
